<div class="card">
  <div class="card-header bg-grey-600 white p-15 clearfix" style="padding-bottom: 0px;">
    <span class="hidden-xs-down avatar avatar-100 float-left mr-20 img-bordered text-center" style="background:#8A5BCD; border:1px solid #fff;" href="javascript:void(0)">
      <span class="font-size-60 text-white">D</span>
    </span>
    <span class="hidden-sm-up avatar avatar-lg float-left mr-20 img-bordered text-center" style="background:#8A5BCD; border:1px solid #fff;" href="javascript:void(0)">
      <span class="font-size-26 text-white">D</span>
    </span>
    <div class="font-size-24"><strong>DGC International</strong></div>
    <div class="grey-300 font-size-16">@dgcinternational.com</div>

    <div style="position:absolute;right:0;top:0;">
        <button type="button" class="btn btn-pure btn-inverse font-size-30 slidePanel-close icon md-close" aria-hidden="true"></button>
    </div>
    <div class="pl-60">
        <button type="button" class="btn btn-pure font-size-20 btn-inverse icon md-edit" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure font-size-20 btn-inverse icon md-delete" aria-hidden="true"></button>
    </div>
  </div>
  <div class="card-block scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="padding: 10px 20px; postition;relative;">
    <section>
         <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#F2543B; color:#F2543B;">Government</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#E8AD73; color:#E8AD73;">Media</span>
      </a>
    </section>
    <section>
      <div class="row pt-10 pb-20 black">
      <div class="col-md-5">
        <p data-info-type="phone" class="mb-10 text-nowrap font-size-20">
          <i class="icon fa-mobile mr-15"></i>
          <span class="text-break">9192372533<span>
        </p>
        <p data-info-type="phone" class="mb-10 text-nowrap font-size-20">
          <i class="icon fa-phone mr-10"></i>
          <span class="text-break">0254312345<span>
        </p>
      </div>
      <div class="col-md-7">
        <p data-info-type="email" class="mb-10 text-nowrap font-size-14">
          <i class="icon md-email mr-10"></i>
          <span class="text-break">info@dgcinternational.com<span>
        </p>
        <p data-info-type="fb" class="mb-10 text-nowrap font-size-14">
          <i class="icon md-facebook mr-15"></i>
          <span class="text-break">facebook.com/dgcinternational<span>
        </p>
        <p data-info-type="twitter" class="mb-10 text-nowrap font-size-14">
          <i class="icon md-twitter mr-10"></i>
          <span class="text-break">@dgcinternational (twitter.com/dgcinternational)<span>
        </p>
      </div>
    </div>
    </section>
    <section>
      <div class="black mt-20">
        <p class="bg-grey-200 p-20">Access a fully automated cell and molecular biology laboratory, all from the comfort of your web browser</p>
      </div>
    </section>
    <section>
      <h4 class=" mt-50">Contacts</h4>
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/1.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/2.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/13.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/14.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/15.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
        <li class="list-inline-item m-5">
          <div style="position:relative;">
            <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
              <img src="../../global/portraits/16.jpg" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <div class="dropdown-header" role="presentation">Caleb Richards</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Message
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                View Profile
              </a>
            </div>
          </div>
        </li>
      </ul>

    </section>
    <section>
      <div class="panel mt-50" id="projects">
        <div>
          <h4>Projects</h4>
          <table class="table table-hover" data-plugin="selectable" data-row-selectable="true">
            <thead>
              <tr>
                <td><strong>Projects Name</strong></td>
                <td width="20%" align="center"><strong>Completed</strong></td>
                <td width="20%" align="center" class="hidden-sm-down"><strong>Date</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                <span class="font-size-14"><strong>The sun climbing plan</strong></span>
                <p class="hidden-md-up font-size-12 mb-0">Jan 1, 2017</p>
                </td>
                <td align="center">
                  <span data-plugin="peityPie" data-skin="red" style="display: none;">7/10</span><svg class="peity" height="22" width="22"><path d="M 11 0 A 11 11 0 1 1 0.5383783207533117 14.399186938124423 L 11 11" fill="#d32f2f"/><path d="M 0.5383783207533117 14.399186938124423 A 11 11 0 0 1 10.999999999999998 0 L 11 11" fill="#ef5350"/></svg>
                </td>
                <td class="hidden-sm-down">Jan 1, 2017</td>
              </tr>
              <tr>
                <td><span class="font-size-14"><strong>Lunar probe project</strong></span>
                <p class="hidden-md-up font-size-12 mb-0">Feb 12, 2017</p></td>
                <td align="center">
                  <span data-plugin="peityPie" data-skin="blue" style="display: none;">3/10</span><svg class="peity" height="22" width="22"><path d="M 11 0 A 11 11 0 0 1 21.46162167924669 14.399186938124421 L 11 11" fill="#1976d2"/><path d="M 21.46162167924669 14.399186938124421 A 11 11 0 1 1 10.999999999999998 0 L 11 11" fill="#42a5f5"/></svg>
                </td>
                <td class="hidden-sm-down">Feb 12, 2017</td>
              </tr>
              <tr>
                <td><span class="font-size-14"><strong>Dream successful plan</strong></span>
                <p class="hidden-md-up font-size-12 mb-0">Apr 9, 2017</p></td>
                <td align="center">
                  <span data-plugin="peityPie" data-skin="green" style="display: none;">9/10</span><svg class="peity" height="22" width="22"><path d="M 11 0 A 11 11 0 1 1 4.534362224782794 2.100813061875579 L 11 11" fill="#388e3c"/><path d="M 4.534362224782794 2.100813061875579 A 11 11 0 0 1 10.999999999999998 0 L 11 11" fill="#66bb6a"/></svg>
                </td>
                <td class="hidden-sm-down">Apr 9, 2017</td>
              </tr>
              <tr>
                <td><span class="font-size-14"><strong>Office automatization</strong></span>
                <p class="hidden-md-up font-size-12 mb-0">May 15, 2017</p></td>
                <td align="center">
                  <span data-plugin="peityPie" data-skin="orange" style="display: none;">5/10</span><svg class="peity" height="22" width="22"><path d="M 11 0 A 11 11 0 0 1 11 22 L 11 11" fill="#f57c00"/><path d="M 11 22 A 11 11 0 0 1 10.999999999999998 0 L 11 11" fill="#ffa726"/></svg>
                </td>
                <td class="hidden-sm-down">May 15, 2017</td>
              </tr>
              <tr>
                <td><span class="font-size-14"><strong>Open strategy</strong></span>
                <p class="hidden-md-up font-size-12 mb-0">Jun 2, 2017</p></td>
                <td align="center">
                  <span data-plugin="peityPie" data-skin="brown" style="display: none;">2/10</span><svg class="peity" height="22" width="22"><path d="M 11 0 A 11 11 0 0 1 21.46162167924669 7.600813061875579 L 11 11" fill="#5d4037"/><path d="M 21.46162167924669 7.600813061875579 A 11 11 0 1 1 10.999999999999998 0 L 11 11" fill="#8d6e63"/></svg>
                </td>
                <td class="hidden-sm-down">Jun 2, 2017</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    </div>
  </div>
</div>