.app-message .page {
  height: -webkit-calc(100% - 10px);
  height:         calc(100% - 10px);
}

.app-message .page-main {
  height: 100%;
  background-color: #fff;
}

.app-message .page-aside .form-control {
  height: 56px;
  padding: 10px 60px 10px 30px;
  border-color: rgba(0, 0, 0, .06);
  border-width: 0 0 1px 0;
  border-radius: 0;
}

.app-message .page-aside .input-search-btn {
  padding-right: 30px;
  border-radius: 0;
}

.app-message .page-aside-inner {
  height: 100%;
}

.app-message-list {
  height: -webkit-calc(100% - 4.003rem);
  height:         calc(100% - 4.003rem);
}

.app-message-list .list-group .list-group-item {
  z-index: 0;
  padding: 16px 30px;
  white-space: nowrap;
  border-bottom: 0;
  border-radius: 0;
}

.app-message-list .list-group .list-group-item:hover {
  background-color: rgba(92, 107, 192, .05);
}

.app-message-list .list-group .list-group-item.active {
  background-color: #e8eaf6;
}

.app-message-list .list-group .list-group-item.active:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  content: ' ';
  background: #3949ab;
}

.app-message-list .list-group .list-group-item .media-time {
  color: #9e9e9e;
}
.body-message-chats{
  height: -webkit-calc(100% - 60px);
  height:         calc(100% - 60px);
  width: 70%;
  text-align: center;
  background-color: #fff;
  float: left;
}
.app-message-chats {
  height: -webkit-calc(100% - 60px);
  height:         calc(100% - 60px);
  padding: 20px 30px;
  overflow-y: auto;
}
.app-message-chats-info {
  height: -webkit-calc(100% - 70px);
  height:         calc(100% - 70px);
  padding-bottom: : 20px;
  overflow-y: auto;
  width: 30%;
  background-color: #fff;
  float: right;
  border-left: 1px #eee solid;
}
.app-message-chats-info .panel-group .panel-title{
  padding: 15px 40px 15px 15px;
}
.app-message-chats-info .panel-group .panel-title::before,.app-message-chats-info .panel-group .panel-title::after{
  right: 25px;
}
.app-message-chats-info .panel-group .panel-collapse .panel-body{
  padding: 15px 20px 30px 20px;
}
.app-message-chats-info .panel-heading{
  background: #f8f8f8!important;
}
.app-message-chats-info .panel-body.chat-info{
  background: #fff;
  border-top: 1px solid #f5f5f5!important;
}
.app-message-chats-info .avatar-info{
  border: 3px #fff solid;
  width: 120px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.app-message-chats > .btn {
  font-weight: 300;
}

.app-message-chats .chats {
  padding: 0;
}

.app-message-chats .chats .chat-avatar .avatar {
  width: 40px;
  margin-top: -10px;
}

.app-message-chats .chats .time {
  margin: 10px 0;
  font-size: 12px;
  color: #9e9e9e;
  text-align: center;
  border: 
}
.chat .chat-time {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-size: 10px;
}

.chat.chat-left .chat-time {
  color: rgba(0, 0, 0, 0.5);
}
.chat-line {
    border-bottom: 1px solid #eaeaea;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
    clear: both;
}
.chat-date {
    background-color: #f5f5f5;
    color: #000;
    font-size: 12px;
    padding: 0 11px;
}
.app-message-input {
  position: relative;
  padding: 0px;
  clear: both;
}

.app-message-input .message-input {
  position: relative;
}

.app-message-input .message-input textarea {
  height: 36px;
  max-height: 100px;
  padding-right: 110px;
  -ms-overflow-y: auto !important;
  resize: none;
}

.app-message-input .message-input-actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.app-message-input .message-input-actions input {
  display: none;
}

.app-message-input .message-input-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.chat-content{
  max-width: 70%;
  text-align: left;
}
@media (max-width: 1199px) {
  .app-message .page-aside .list-group-item {
    padding: 14px 16px;
    font-size: 12px;
  }
  .app-message .page-aside .list-group-item h4 {
    font-size: 12px;
  }
  .app-message .page-aside .list-group-item .avatar {
    width: 34px;
  }
  .app-message .page-aside .list-group-item .badge {
    padding: 1px 4px;
  }
}

@media (max-width: 479px) {
  .app-message .page {
    height: -webkit-calc(100% - 66px);
    height:         calc(100% - 66px);
  }
}
