
.search-wrapper {
    position:relative;
    background: #fff;
    border-radius:0.215rem;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-wrap: wrap;
}
.search-box, .search-box2 {
    box-sizing: border-box;
    padding: 10px 15px 10px;
    width: 90%;
    cursor: text;
}

.search-wrapper a.clear_all{
    padding: 10px;
    position: absolute;
    right: 0;
    top:5px;
    display: inline;
    width: 100px;
}

.data_entry{
    width: 100%;
}


.search-wrapper .data_entry {
    display: none;
    padding: 10px 0;
    margin: 0 20px;
    border-top: 1px dashed #eee;
}
.search-wrapper .data_entry input{
    border:none;
    padding: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: 90%;
}

.search-wrapper .data_entry input:focus {
    outline-width: 0;
}

.search-wrapper .close {
    float: right;
    font-size: 20px;
    color: #999;
}

.search-wrapper .icon.md-search {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    position: absolute;
}

.search-wrapper .filters{
    width: 100%;
    display: inline-block;;
    background-color: #f9fafb;
    border-top:1px solid #e0e0e0;

}
.search-wrapper .filters div.dropdown{
    float: left;
}
.search-wrapper .filters div.dropdown:hover .dropdown-menu {
    display: block;
}

.search-wrapper .filters div.dropdown .dropdown-menu {
    margin: 0px 0 0;
}

.currently-showing{
    display: inline-block;
    vertical-align: middle;
    width: 94%;
    font-size: 0;
    padding-left:25px;
}

.currently-showing .token {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    line-height: 22px;
    margin: 0 8px 6px 0;
    padding: 0 5px;
    cursor: default;
    vertical-align: top;
    white-space: nowrap;
    border: 0px;
    border-radius: 0.215rem;
    background-color: #757575;
    font-size:12px;
    color: #fff;
}

.currently-showing .token .token-label {
    display: inline-block;
    overflow: hidden;
    padding-left: 4px;
    vertical-align: top;
    text-overflow: ellipsis;
    text-transform:capitalize;
}
.currently-showing .token .close {
    font-size: 18px;
    line-height: inherit;
    display: inline-block;
    float: none;
    height: 100%;
    margin-left: 10px;
    padding-right: 4px;
    vertical-align: top;
    font-family:arial;
    color: #fff;
}
@media (max-width: 768px) {
    .search-box, .search-box2{
        width: 100%;
    }
    .search-wrapper a.clear_all{
        display: none;
    }
    .currently-showing{
        width: 90%;
    }
}
#SearchDateRange span#daterange-value, #SearchAllDateRange span#daterange-value{
    display: none;
}