<section>
  <div class="bg-grey-600 white p-15 clearfix" style="padding-bottom: 0px;">
    <span class="hidden-xs-down avatar avatar-100 float-left mr-20 img-bordered bg-white" href="javascript:void(0)">
      <img src="../../assets/examples/graph/graph-4.jpg" alt="">
    </span>
    <span class="hidden-sm-up avatar avatar-lg float-left mr-20 img-bordered bg-white" href="javascript:void(0)">
      <img src="../../assets/examples/graph/graph-4.jpg" alt="">
    </span>
    <div class="font-size-24"><strong>Widget Data-Report</strong></div>
    <div class="grey-300 font-size-16">Task</div>

    <div style="position:absolute;right:0;top:0;">
        <button type="button" class="btn btn-pure btn-inverse font-size-30 slidePanel-close icon md-close" aria-hidden="true"></button>
    </div>
    <div class="mt-10">
        <button type="button" class="btn btn-primary btn-sm waves-effect waves-classic"><i class="icon md-plus" aria-hidden="true"></i> Add Widget </button>
    </div>
  </div>
</section>
<div class="site-sidebar-tab-content tab-content">
  <div class="tab-pane fade active show">
    <div>
      <div>
        <div class="row">
          <div class="col-md-8">
            <div class="example-wrap">
                <div class="nav-tabs-horizontal" data-plugin="tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab" aria-expanded="true">Detail</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab" aria-expanded="false">Reviews</a></li>
                    <li class="dropdown nav-item" role="presentation" style="display: none;">
                      <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Menu </a>
                      <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Detail</a>
                        <a class="dropdown-item" data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Reviews</a>
                      </div>
                    </li>
                  </ul>
                  <div class="tab-content pt-20">
                    <div class="tab-pane active" id="exampleTabsOne" role="tabpanel" aria-expanded="true">
                      <section>
                        <h4>Description</h4>
                          <p class="">Are you looking for modern, robust, and sophisticated social network software? BuddyPress is a suite of components that are common to a typical social network, and allows for great add-on features through WordPress’s extensive plugin system.</p><br>
                          <p class="">BuddyPress is focused on ease of integration, ease of use, and extensibility. It is deliberately powerful yet unbelievably simple social network software, built by contributors to WordPress.</p><br>
                          <p class="">Enable registered members to create profiles, have private conversations, make connections, create & interact in groups, and much more. Truly a social network in a box, BuddyPress helps you more easily build a home for your company, school, sports team, or other niche community.</p>
                      </section>
                      <section>
                        <h4>Screenshots</h4>
                        <img class="mb-20" src="../../assets/examples/graph/chart-1.jpg" width="100%">
                        <img class="mb-20" src="../../assets/examples/graph/chart-2.jpg" width="100%">
                        <img class="mb-20" src="../../assets/examples/graph/chart-3.jpg" width="100%">
                      </section>
                    </div>
                    <div class="tab-pane" id="exampleTabsTwo" role="tabpanel" aria-expanded="false">
                      <h4>Reviews</h4>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>
                      <div class="mb-10 bg-grey-200 p-5">
                        <div class="rating" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
                        <p>Very easy to use. Great tool!</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            

          </div>
          <div class="col-md-4 bg-grey-200 pt-20 pb-20">
            <p><strong>Version:</strong> <span class="float-right">2.9.2</span></p>
            <p><strong>Last Updated:</strong> <span class="float-right">3 months ago</span></p>
            <p><strong>Active installations:</strong> <span class="float-right">300+</span></p>
            <p><strong>Tags:</strong></p>
            <div>
              <a href="#"><span class="badge p-5 mb-5 badge-outline" style="border-color:#5A6081; color:#5A6081;">Designer</span></a>
              <a href="#"><span class="badge p-5 mb-5 badge-outline" style="border-color:#5A6081; color:#5A6081;">jQuery</span></a>
            </div>
            <div class="mt-20">
              <h4>Ratings</h4>
              <div class="rating rating-lg" data-score="4" data-number="5" data-read-only="true" data-plugin="rating" title="good"><i data-alt="1" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="2" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="3" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="4" class="icon md-star orange-600" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="good"></i><input name="score" value="4" readonly="" type="hidden"></div>
              
              <div class="example-wrap mb-40">
                <div class="contextual-progress mt-10 mb-10">
                  <div class="clearfix">
                    <div class="progress-title">5 stars</div>
                    <div class="progress-label"> 263</div>
                  </div>
                  <div class="progress" style="height: 5px;" data-goal="60" data-plugin="progress">
                    <div class="progress-bar progress-bar-warning" aria-valuemin="20" aria-valuemax="115" aria-valuenow="25" role="progressbar" style="width: 66%;"></div>
                  </div>
                </div>
                <div class="contextual-progress mt-10 mb-10">
                  <div class="clearfix">
                    <div class="progress-title">4 stars</div>
                    <div class="progress-label"> 39</div>
                  </div>
                  <div class="progress" style="height: 5px;" data-goal="60" data-plugin="progress">
                    <div class="progress-bar progress-bar-warning" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar" style="width: 9%;"></div>
                  </div>
                </div>
                <div class="contextual-progress mt-10 mb-10">
                  <div class="clearfix">
                    <div class="progress-title">3 stars</div>
                    <div class="progress-label"> 14</div>
                  </div>
                  <div class="progress" style="height: 5px;" data-goal="60" data-plugin="progress">
                    <div class="progress-bar progress-bar-warning" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar" style="width: 3.5%;"></div>
                  </div>
                </div>
                <div class="contextual-progress mt-10 mb-10">
                  <div class="clearfix">
                    <div class="progress-title">2 stars</div>
                    <div class="progress-label"> 17</div>
                  </div>
                  <div class="progress" style="height: 5px;" data-goal="60" data-plugin="progress">
                    <div class="progress-bar progress-bar-warning" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar" style="width: 4%;"></div>
                  </div>
                </div>
                <div class="contextual-progress mt-10 mb-10">
                  <div class="clearfix">
                    <div class="progress-title">1 stars</div>
                    <div class="progress-label"> 30</div>
                  </div>
                  <div class="progress" style="height: 5px;" data-goal="60" data-plugin="progress">
                    <div class="progress-bar progress-bar-warning" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar" style="width: 7%;"></div>
                  </div>
                </div>
              </div>
              <div class="mt-20 mb-40">
                <h4>Reviews</h4>
                <div class="example">
                  <div class="rating rating-lg" data-plugin="rating" style="cursor: pointer;"><i data-alt="1" class="icon md-star" title="bad"></i>&nbsp;<i data-alt="2" class="icon md-star" title="poor"></i>&nbsp;<i data-alt="3" class="icon md-star" title="regular"></i>&nbsp;<i data-alt="4" class="icon md-star" title="good"></i>&nbsp;<i data-alt="5" class="icon md-star" title="gorgeous"></i><input name="score" type="hidden"></div>
                </div>
                <form class="comment-reply" action="#" method="post">
                  <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Comment here"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary waves-effect waves-classic">Reviews</button>
                    <button type="button" class="btn btn-link grey-600 waves-effect waves-classic">Cancel</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>