<div class="card">
  <div class="card-header bg-grey-600 white p-15 clearfix" style="padding-bottom: 0px;">
    <button type="button" style="background:#E203A7;" class="btn btn-icon btn-round waves-effect waves-classic app-message-detail-pic">
      <i class="icon fa-group mr-0 white" aria-hidden="true"></i>
    </button>
    <div class="app-message-detail-name"><strong>Jigsaw Office R&D</strong></div>

    <div style="position:absolute;right:0;top:0;">
        <button type="button" class="btn btn-pure btn-inverse font-size-30 slidePanel-close icon md-close" aria-hidden="true"></button>
    </div>
    <div style="position:absolute;right:30px;top:0;">
      <button type="button" class="btn btn-pure btn-inverse font-size-30 icon fa-gear" data-toggle="dropdown" aria-hidden="true"></button>
      
      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Rename
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Leave Group
        </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Archive
        </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Delete
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Mark as Unread
        </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Mark as Spam
        </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
          Report Spam or Abuse...
        </a>
      </div>
    </div>
  </div>
  <div class="card-block scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="padding: 10px 20px; postition;relative;">
    <section>
      <div class="row">
        <div class="col-md-5">
          <h5>Options</h5>
          <ul class="list-group list-group-full">
            <li class="list-group-item">
              <a href="#" style="text-decoration:none"><i class="icon fa-search mr-10" aria-hidden="true"></i>Search in Conversation</a>
            </li>
            <li class="list-group-item">
              <a href="#" style="text-decoration:none"><i class="icon md-palette mr-10" aria-hidden="true"></i>Change Color</a>
            </li>
            <li class="list-group-item">
              <a href="#" style="text-decoration:none"><i class="icon md-notifications mr-10" aria-hidden="true"></i>Notifications</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <h5>People</h5>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/1.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/2.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/13.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/14.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/15.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
            <li class="list-inline-item m-5">
              <div style="position:relative;">
                <a class="avatar avatar-lg" href="javascript:void(0)" data-toggle="dropdown">
                  <img src="../../global/portraits/16.jpg" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="dropdown-header" role="presentation">Caleb Richards</div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Message
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    View Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    Remove from Group
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-md-12">
          <h5>Shared Photos & Files</h5>
          <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab" aria-expanded="true">Photos</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab" aria-expanded="false">Files</a></li>
              <li class="dropdown nav-item" role="presentation" style="display: none;">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Menu </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Photos</a>
                  <a class="dropdown-item" data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Files</a>
                </div>
              </li>
            </ul>
            <div class="tab-content pt-20">
              <div class="tab-pane active" id="exampleTabsOne" role="tabpanel" aria-expanded="true">
                <div class="example">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                  <img class="img-circle img-bordered img-bordered-info m-5" src="../../global/photos/placeholder.png" alt="..." width="150" height="150">
                </div>
              </div>
              <div class="tab-pane" id="exampleTabsTwo" role="tabpanel" aria-expanded="false">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th width="20%">Owner</th>
                        <th class="hidden-sm-down" width="20%">Created</th>
                        <th class="hidden-sm-down" width="20%">File size</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="media" style="flex-direction:initial;">
                            <div class="pr-20">
                              <a data-url="panel-file.html" data-toggle="slidePanel" class="font-size-24" href="javascript:void(0)">
                                <i style="color:#ff9800" class="icon fa-file-powerpoint-o" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <h5><a style="color:#616161;text-decoration: none;" data-url="panel-folder.html" data-toggle="slidePanel" href="javascript:void(0)">TOR_Checklist</a></h5>
                              <p class="hidden-md-up mb-0 grey-500">
                                <small>
                                  Mar 3, 2017 <span class="ml-10 mr-10">&mdash;</span> 2.85 MB                            </small>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="pt-15"><img style="width:20px;" class="avatar" src="../../global/portraits/1.jpg" title="Herman Beck">
                        <span class="hidden-md-down">Herman Beck</span></td>
                        <td class="hidden-sm-down pt-15">Mar 3, 2017</td>
                        <td class="hidden-sm-down pt-15">2.85 MB</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="media" style="flex-direction:initial;">
                            <div class="pr-20">
                              <a data-url="panel-file.html" data-toggle="slidePanel" class="font-size-24" href="javascript:void(0)">
                                <i style="color:#f44336" class="icon fa-file-pdf-o" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <h5><a style="color:#616161;text-decoration: none;" data-url="panel-folder.html" data-toggle="slidePanel" href="javascript:void(0)">wireframe inner</a></h5>
                              <p class="hidden-md-up mb-0 grey-500">
                                <small>
                                  Mar 3, 2017 <span class="ml-10 mr-10">&mdash;</span> 4.26 KB                            </small>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="pt-15">me</td>
                        <td class="hidden-sm-down pt-15">Mar 3, 2017</td>
                        <td class="hidden-sm-down pt-15">4.26 KB</td>
                      </tr>
                                        <tr>
                        <td>
                          <div class="media" style="flex-direction:initial;">
                            <div class="pr-20">
                              <a data-url="panel-file.html" data-toggle="slidePanel" class="font-size-24" href="javascript:void(0)">
                                <i style="color:#4caf50" class="icon fa-file-excel-o" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <h5><a style="color:#616161;text-decoration: none;" data-url="panel-folder.html" data-toggle="slidePanel" href="javascript:void(0)">เอกสารรวบรวม Data</a></h5>
                              <p class="hidden-md-up mb-0 grey-500">
                                <small>
                                  Mar 3, 2017 <span class="ml-10 mr-10">&mdash;</span> 1.52 MB                            </small>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="pt-15"><img style="width:20px;" class="avatar" src="../../global/portraits/1.jpg" title="Herman Beck">
                        <span class="hidden-md-down">Herman Beck</span></td>
                        <td class="hidden-sm-down pt-15">Mar 3, 2017</td>
                        <td class="hidden-sm-down pt-15">1.52 MB</td>
                      </tr>
                                        <tr>
                        <td>
                          <div class="media" style="flex-direction:initial;">
                            <div class="pr-20">
                              <a data-url="panel-file.html" data-toggle="slidePanel" class="font-size-24" href="javascript:void(0)">
                                <i style="color:#ffab00" class="icon fa-file-picture-o" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div class="media-body">
                              <h5><a style="color:#616161;text-decoration: none;" data-url="panel-folder.html" data-toggle="slidePanel" href="javascript:void(0)">WEB Design Trend</a></h5>
                              <p class="hidden-md-up mb-0 grey-500">
                                <small>
                                  Mar 3, 2017 <span class="ml-10 mr-10">&mdash;</span> 4.25 MB                            </small>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="pt-15">me</td>
                        <td class="hidden-sm-down pt-15">Mar 3, 2017</td>
                        <td class="hidden-sm-down pt-15">4.25 MB</td>
                      </tr>
                                      </tbody>
                  </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    </div>
  </div>
</div>