<div class="card">
  <div class="card-header text-center bg-grey-100 white p-15 clearfix" style="padding-bottom: 0px;">
    <div class="mb-20">
      <i style="color:#3f51b5" class="icon fa-folder font-size-60" aria-hidden="true"></i>
    </div>
    <div class="font-size-24" style="color:#3f51b5;"><strong>Link example & Research</strong></div>

    <div style="position:absolute;right:0;top:0;">
        <button type="button" class="btn btn-pure btn-dark font-size-30 slidePanel-close icon md-close" aria-hidden="true"></button>
    </div>
    <div class="grey-800">
        <button type="button" class="btn btn-pure font-size-20 icon md-edit" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure font-size-20 icon md-delete" aria-hidden="true"></button>
    </div>
  </div>
  <div class="card-block scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="padding: 10px 20px; postition;relative;">
    <section>
         <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#F2543B; color:#F2543B;">Designer</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#E8AD73; color:#E8AD73;">jQuery</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#C6EF3D; color:#C6EF3D;">Javascript</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#CF9650; color:#CF9650;">HTML5</span>
      </a>
    </section>
    <section>
      <div class="black mt-20">
        <p class="bg-grey-200 p-20">For highlighting a run of text due to its relevance in another
                  context, use the <code>&lt;mark&gt;</code> tag. Like this:</p>
        <div>
          <ul class="list-group list-group-full">
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Status</span>
              <span>Not shared</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Type</span>
              <span>Folder</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Location</span>
              <span>Drive</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Owner</span>
              <span>me</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Created</span>
              <span>May 5 at 11:00 AM</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    </div>
  </div>
</div>