<div class="card">
  <div class="card-header text-center bg-grey-100 white p-15 clearfix" style="padding-bottom: 0px;">
    <div class="mb-20">
      <i style="color:#f44336" class="icon fa-file-pdf-o font-size-60" aria-hidden="true"></i>
    </div>
    <div class="font-size-24" style="color:#f44336;"><strong>Link example & Research</strong></div>

    <div style="position:absolute;right:0;top:0;">
        <button type="button" class="btn btn-pure btn-dark font-size-30 slidePanel-close icon md-close" aria-hidden="true"></button>
    </div>
    <div class="grey-800">
        <button type="button" class="btn btn-pure font-size-20 icon md-edit" aria-hidden="true"></button>
        <button type="button" class="btn btn-pure font-size-20 icon md-delete" aria-hidden="true"></button>
    </div>
  </div>
  <div class="card-block scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="padding: 10px 20px; postition;relative;">
    <section>
         <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#F2543B; color:#F2543B;">Designer</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#E8AD73; color:#E8AD73;">jQuery</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#C6EF3D; color:#C6EF3D;">Javascript</span>
      </a>
                          <a href="#">
        <span class="badge p-5 mb-5 badge-outline" style="border-color:#CF9650; color:#CF9650;">HTML5</span>
      </a>
    </section>
    <section>
      <div class="black mt-20">
        <p class="bg-grey-200 p-20">For highlighting a run of text due to its relevance in another
                  context, use the <code>&lt;mark&gt;</code> tag. Like this:</p>
        <div>
          <ul class="list-group list-group-full">
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Status</span>
              <span>Shared on <strong><a href="#">Jigsaw Office Co-Working</a></strong></span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Type</span>
              <span>PDF</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Size</span>
              <span>9 MB (9,351,384 bytes)</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Location</span>
              <span>Drive</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Owner</span>
              <span>me</span>
            </li>
            <li class="list-group-item">
              <span style="display:inline-block;" class="w-150 grey-500">Created</span>
              <span>May 5 at 11:00 AM</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h3>Comments</h3>

      <div class="comment media" style="border-bottom:1px #eee solid;flex-direction:initial;">
        <div class="pr-20">
          <a class="avatar avatar-lg" href="javascript:void(0)">
            <img src="../../global/portraits/1.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <div class="comment-body">
            <a class="comment-author" href="javascript:void(0)">Caleb Richards</a>
            <div class="comment-meta">
              <span class="date">5 days ago</span>
            </div>
            <div class="comment-content">
              <p>Elliot you are always so right :)</p>
            </div>
            <div class="comment-actions">
              <a class="text-like icon md-favorite" href="javascript:void(0)" role="button"></a>
              <a href="javascript:void(0)" role="button">Reply</a>
            </div>
          </div>
          <div class="comment m-0 p-0">
            <div class="comment media" style="border-top:1px #eee solid;flex-direction:initial;">
              <div class="pr-20">
                <a class="avatar avatar-lg" href="javascript:void(0)">
                  <img src="../../global/portraits/3.jpg" alt="...">
                </a>
              </div>
              <div class="comment-body media-body">
                <a class="comment-author" href="javascript:void(0)">Nathan Watts</a>
                <div class="comment-meta">
                  <span class="date">5 days ago</span>
                </div>
                <div class="comment-content">
                  <p>Elliot you are always so right :)</p>
                </div>
                <div class="comment-actions">
                  <a class="text-like icon md-favorite" href="javascript:void(0)" role="button"></a>
                  <a href="javascript:void(0)" role="button">Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment media" style="border-bottom:1px #eee solid;flex-direction:initial;">
        <div class="pr-20">
          <a class="avatar avatar-lg" href="javascript:void(0)">
            <img src="../../global/portraits/11.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <div class="comment-body">
            <a class="comment-author" href="javascript:void(0)">Crystal Bates</a>
            <div class="comment-meta">
              <span class="date">5 days ago</span>
            </div>
            <div class="comment-content">
              <p>Dude, this is awesome. Thanks so much</p>
            </div>
            <div class="comment-actions">
              <a class="text-like icon md-favorite" href="javascript:void(0)" role="button"></a>
              <a href="javascript:void(0)" role="button">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <div class="comment media" style="border-bottom:1px #eee solid;flex-direction:initial;">
        <div class="pr-20">
          <a class="avatar avatar-lg" href="javascript:void(0)">
            <img src="../../global/portraits/6.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <div class="comment-body">
            <a class="comment-author" href="javascript:void(0)">Crystal Bates</a>
            <div class="comment-meta">
              <span class="date">5 days ago</span>
            </div>
            <div class="comment-content">
              <p>Yes, That's really awesome!</p>
            </div>
            <div class="comment-actions">
              <a class="text-like icon md-favorite" href="javascript:void(0)" role="button"></a>
              <a href="javascript:void(0)" role="button">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <form class="comment-reply" action="#" method="post">
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="Comment here"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary waves-effect waves-classic">Comment</button>
          <button type="button" class="btn btn-link grey-600 waves-effect waves-classic">close</button>
        </div>
      </form>
    </section>
    
    </div>
  </div>
</div>